{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<html>
	<body>
			<div class="container">
				<h2>{{investment.name}}</h2>
				<p>{{investment.description}}</p><br>
				<h3>Price:</h3>
				<p>{{investment.price}}</p><br>
				<a href = "{{url_for('editInvestment', catalog_id=catalog.id, investment_id=investment.id)}}">Edit</a>
				<a> | </a>
				<a href = "{{url_for('deleteInvestment', catalog_id=catalog.id, investment_id=investment.id)}}">Delete</a>
			</div>

	</body>
</html>
{% endblock %}